*{    /* reset*/
      margin: 0px;
      border: 0px;
      padding: 0px;
      box-sizing: border-box;
}
:root{/* colors */
      --bg-color: radial-gradient(165.51% 141.42% at 100% 0%, rgba(0, 18, 65, 0.78) 0%, #000 0%, #00071A 0%, #000D2D 0%, #000E31 0%, #000920 4.7%, #000F34 33.08%, #000B28 50.35%, #00081D 66.48%, #000510 80.85%, #000 98.77%);
      --navbar-color: linear-gradient(rgb(0,129,170),black);
      --text-color: white;
}
html{
      scroll-behavior: smooth;
      color: var(--text-color);
      background: var(--bg-color);
      background-blend-mode: screen;
      overflow-x: hidden;
      width: 100vw;

}
.side_navbar{
      position: fixed;
      top: 0;
      left: -8rem;
      z-index: 1;
      background:var(--navbar-color);
      height: 100vh;
      width: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6rem;
      transition: left 0.3s ease;
}
.side_navbar a{
      text-decoration: none;
      color: var(--text-color);
}
.side_navbar a:hover{
      transform: scale(1.1);
}
#menu{
      position: fixed;
      top: 20px;
      left: 3.33rem;
      cursor: pointer;
}

.headpage{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
      line-height: 1.5rem;
      padding: 20px;
      font-size: larger;
}
.headpage h1{
      line-height: 2.5rem;
}
.headpage p{
      width: 75ch;
}

.page{
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh;
      gap: 5rem;
}
.page .content{
      font-size: larger;
}
.page .content h1{
      text-align: center;
      line-height: 2.5rem;
      margin-bottom: 20px;
}
.page .content p{
      width: 55ch;
      line-height: 1.5rem;
}
.page  img{
      width: 500px;
      aspect-ratio: 4/3;
      object-fit:cover;
      border: 3px solid var(--text-color);
}
#page-1 , #page-3 ,#page-5{
      flex-direction: row-reverse;
}
#page-1 img{
      aspect-ratio: 4/3;
}
#page-2 img{
      aspect-ratio: 3.5/4;
}
#page-3 img{
      aspect-ratio:1/1;
}
#page-4 img{
      width: 340px;
      aspect-ratio: 9/14 ;
}
#page-5 img{
      aspect-ratio: 1/1;
}

.fade-in{
      opacity: .1;
      transition: opacity 1s, transform 1s;
    }
.fade-in.appear{
      opacity: 1;
}