@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap');
html{
      scroll-behavior: smooth;
}
body{
      color: whitesmoke;
      background: radial-gradient(165.51% 141.42% at 100% 0%, rgba(0, 18, 65, 0.78) 0%, #000 0%, #00071A 0%, #000D2D 0%, #000E31 0%, #000920 4.7%, #000F34 33.08%, #000B28 50.35%, #00081D 66.48%, #000510 80.85%, #000 98.77%);
      background-blend-mode: screen;
      -ms-overflow-style: none;
      scrollbar-width: none; 
}
body::-webkit-scrollbar 
{
      display: none;
}
.toggle_theme{
      position: fixed;
      z-index: 1;
      bottom: 20px;
      left: 12px;
}
.toggle_theme .box{
      width: 50px;
      height: 25px;
      background-color: white;
      border-radius: 50px;
      margin: auto;
}
.toggle_theme .circle{
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background-color: rgb(0, 0, 0);
      border: 1px solid black;
      position: absolute;
      top: .12rem;
      left: 1.2rem;
}
.toggle_theme #text{
      margin-top: 10px;
}
.side_navbar{
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      position: fixed;
      top: 0;
      left: 0;
      background: linear-gradient(rgb(0,129,170),black);
      height: 100vh;
      width: 7rem;
}
.side_navbar a{
      transform: rotate(-90deg); 
      transform-origin: center center; 
      text-decoration: none;
      color: white;
      margin: 30px;
}
.sea{
      margin-left: 7rem;
      display: flex;
      flex-direction: column;
      scroll-behavior: smooth;
}
.sea .page{
      height: 100vh;
}
img{
      border: 5px solid rgb(255, 255, 255);
      object-fit: cover;
}
p{
      padding-top: 30px;
}
.content{
      font-size: 1.4rem;
      font-family: 'Playfair Display', serif;
      font-family: 'Quicksand', sans-serif;
      max-width: 40ch;
}
#page-1 > img{
      position: absolute;
      right: 157px;
      top: 160px;
      aspect-ratio: 9/16;
      height: 30rem;   
}
#page-1 > .content{
      position: absolute;
      top:165px;
      left: 270px;
}
#page-2 > img{
      position: absolute;
      right: calc(157px);
      top: calc(100vh+160px);
      aspect-ratio: 9/16;
      height: 30rem;   
}
#page-2 > .content{
      position: absolute;
      top:calc(100vh+165px);
      left: 270px;
}