@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
      margin: 0;
      border: 0;
      padding: 0;
      box-sizing: border-box;
}
html{
      scroll-behavior: smooth;
      font-family: 'Montserrat', sans-serif;
}
body{
      color: whitesmoke;
      background: var(--bg-color);
      background-blend-mode: screen;
      
}


:root{
      --bg-color: radial-gradient(165.51% 141.42% at 100% 0%, rgba(0, 18, 65, 0.78) 0%, #000 0%, #00071A 0%, #000D2D 0%, #000E31 0%, #000920 4.7%, #000F34 33.08%, #000B28 50.35%, #00081D 66.48%, #000510 80.85%, #000 98.77%);
      --navbar-color: linear-gradient(rgb(0,129,170),black);
      --text-color: white;
}

.headpage{
      height:100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: x-large;
      color: var(--text-color);
}
.headpage > p{
      max-width: 60ch;
      text-align: center;
      line-height: 1.5em;
}
.headpage > h1{
      font-size: 3.5rem;
}


#toggle_theme{
      margin-top: 5rem;
      width: 30px;
      height: 30px;
}
.side_navbar{
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      position: fixed;
      top: 0;
      left: -8rem;
      background:var(--navbar-color);
      height: 100vh;
      width: 7rem;
      transition: left 0.3s ease;
}
.side_navbar a{
      text-decoration: none;
      color: var(--text-color);
      margin-top: 70px;
}
.side_navbar a:hover{
      transform: scale(1.1);
}
#menu{
      position: fixed;
      z-index: 1;
      top: 20px;
      left: 2.7rem;
      cursor: pointer;
}


.sea >.page{
      height: 100vh;
      color: var(--text-color);
}
.sea > .page >  img{
      border: 5px solid var(--text-color);
      object-fit: cover;
}
.page > p{
      line-height: 1.5em;
}
.content{
      font-size: 1.4rem;
      max-width: 40ch;
}


#page-1 > img{
      position: absolute;
      right: 157px;
      top:220vh;
      aspect-ratio: 9/16;
      height: 30rem;   
}
#page-1 > .content{
      position: absolute;
      top:220vh;
      left: 270px;
}

#page-2 > img{
      position: absolute;
      right: 157px;
      top:320vh;
      aspect-ratio: 9/16;
      height: 30rem;   
}
#page-2 > .content{
      position: absolute;
      top:320vh;
      left: 270px;
}

#page-3 > img{
      position: absolute;
      right: 157px;
      top:420vh;
      aspect-ratio: 9/16;
      height: 30rem;   
}
#page-3 > .content{
      position: absolute;
      top:420vh;
      left: 270px;
}

#page-4 > img{
      position: absolute;
      right: 157px;
      top:520vh;
      aspect-ratio: 9/16;
      height: 30rem;   
}
#page-4 > .content{
      position: absolute;
      top:520vh;
      left: 270px;
}

#page-5 > img{
      position: absolute;
      right: 157px;
      top:620vh;
      aspect-ratio: 9/16;
      height: 30rem;   
}
#page-5 > .content{
      position: absolute;
      top:620vh;
      left: 270px;
}